  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Modcraft</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>

      <% if (authorized) { %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="modsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mods
          </a>

          <div class="dropdown-menu" aria-labelledby="modsDropdown">
            <div class="dropdown-item">
              <img src="/images/envelope.png" alt="">
              <a href="/mods">Mod Library</a>
            </div>
            
            <div class="dropdown-divider"></div>
            
            <a href="/mods/new" class="dropdown-item">Browse Mod Repository</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="modpackDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            modpacks
          </a>

          <div class="dropdown-menu" aria-labelledby="modpackDropdown">
            <a href="/modpacks" class="dropdown-item">Your Modpacks</a>
            <div class="dropdown-divider"></div>
            <a href="/modpacks/new" class="dropdown-item">Community Packs</a>
          </div>
        </li>
      <% } %>
    </ul>

    <ul class="navbar-nav">
      <% if (authorized) {%>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
      <%} else { %>
        <li class="nav-item">
          <a href="/register" class="nav-link">
            <i class="fa fa-user-plus"></i>
            Register
          </a>
        </li>

        <li class="nav-item">
          <a href="/login" class="nav-link">
            <i class="fa fa-sign-in"></i>
            Login
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>