<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h2>Create new modpack</h2>
  </header>
  <hr>

  <div>
    <%- include ('./_form') %>
  </div>
</div>

<%- include ('../partials/footer') %>