<%- include ('../partials/header') %>
<header class="home-cta">
  <div class="instructions">
    <h1>Modcraft - Mod/pack Library</h1>
    <hr><hr>

    <h2 class="my-5">
      <strong>Streamlining everything</strong>
    </h2>
    <hr>

    <section class="my-5">
      <h3>Task:</h3>
      <p>
        You're building an application that allows a <strong>registered user</strong> to create a new reservation at any Cara Foods owned restaurant. The list of restaurants that need to selectable are:
      </p>

      <ul>
        <li>Kelseys</li>
        <li>Montanas</li>
        <li>Outbacks</li>
        <li>Harveys</li>
        <li>Swiss Chalet</li>
      </ul>
    </section>

    <hr>
    <section class="my-5">
      <h3>Upcoming features:</h3>

      <ul>
        <li>Mod view, organizaton in browser akin to Steam </li>
        <li>Find new mods as they relate to aspects of your Modpack</li>
        <li>Auto-resolving of conflicts</li>
      </ul>
    </section>

    <section class="my-5">
      <h3>What <strong style="color: red;">NOT</strong> to expect, probably ever:</h3>

      <ul>
        <li>Hosting/delivery of files</li>
        <li>An environment to run the JRE to make changes to .jar files</li>
        <li>Actual artifical intelligence</li>
      </ul>
    </section>




<%- include ('../partials/footer') %>