<%- include ('../partials/header') %>


<!--Hero=====================================-->
<div class="md:flex justify-between py-20 px-10 bg-indigo-600 text-indigo-100">

  <div class="md:w-1/3 mb-10 md:mb-0">
    <h2 class="text-2xl md:text-4xl lg:text-5xl text-white mb-6">Welcome to Modcraft!</h2>
    <p class="mb-6">There is never a sad day in Minecraft!</p>
    <a href="#" class="inline-block py-3 px-6 text-lg bg-gray-400 text-gray-800 hover:bg-gray-300 rounded mr-2">Learn
      More</a>
    <a href="#" class="inline-block py-3 px-6 text-lg bg-green-400 text-gray-800 hover:bg-green-300 rounded mr-2">Get
      Started</a>
  </div>

  <div class="md:w-2/3">
    <img src="/images/minecraft-tank.png" alt="Minecraft Tank" class="w-full rounded shadow-2xl">
  </div>

</div>
<!-- features -->
<div class="md:flex py-16 px-10 bg-indigo-800 text-indigo-200 text-center">
  <div class="mr-2 text-center">
    <img src="/images/minecraft-ore-processing.png" class="w-full mb-4 rounded border-solid border-2 border-indigo-400"
      alt="Tech">
    <p>Technology</p>
  </div>
  <div class="mr-2 mt-8 text-center">
    <img src="/images/minecraft-cyberpunk-tower.jpg" class="w-full mb-4 rounded border-solid border-2 border-indigo-400"
      alt="">
    <p>Magic</p>
  </div>
  <div class="mr-2 text-center">
    <img src="\images\minecraft-terrian-arial.png" class="w-full mb-4 rounded border-solid border-2 border-indigo-400"
      alt="">
    <p>Terrian Generation</p>
  </div>
  <div class="mr-2 mt-8 text-center">
    <img src="/images/minecraft-castle.png" class="w-full mb-4 rounded border-solid border-2 border-indigo-400" alt="">
    <p>Architecture</p>
  </div>
</div>

<!-- footer + newsletter-->
<div class="p-10 bg-indigo-900 text-indigo-400 flex justify-between">
  <div>
    <div>
      <h3 class="text-lg mb-2">Join the newsletter--</h3>
      <form action="#" class="flex">
        <input type="email" class="w-full rounded py-3 px-4 outline-none">
        <button class="w-1/2 bg-red-300 text-red-800 ml-1 rounded">Join</button>
      </form>
    </div>
  </div>

</div>






<%- include ('../partials/footer') %>